<div class="container">
  <h1>{{currentUser.name}} {{currentUser.surname}}'s marks</h1>
  <table>
    <tbody>
      <tr *ngFor="let mark of currentUser.markList">
        <td *ngIf="mark.course.course_id == currentCourse.course_id">{{currentUser.name}}</td>
        <td *ngIf="mark.course.course_id == currentCourse.course_id">{{currentUser.surname}}</td>
        <td *ngIf="mark.course.course_id == currentCourse.course_id">{{mark.title}}</td>
        <td *ngIf="mark.course.course_id == currentCourse.course_id">{{mark.mark}}</td>
      </tr>
    </tbody>
  </table>
</div>
