<div class="container">
  <button mat-raised-button="" color="primary" routerLink="/search-users" style="margin-top: 60px; margin-left: 35%; margin-bottom: 5px">
    Search User</button>
  <h1>List of users</h1>
  <table>
    <thead>
    <tr>
      <td>Login</td>
      <td>Email</td>
      <td>Name</td>
      <td>Surname</td>
      <td>Role</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td (click)="showUser(user)">{{user.login}}</td>
      <td (click)="showUser(user)">{{user.email}}</td>
      <td (click)="showUser(user)">{{user.name}}</td>
      <td (click)="showUser(user)">{{user.surname}}</td>
      <td>
        <table border="0">
          <tr *ngFor="let role of user.role_id">
            <td>{{role.name}}</td>
          </tr>
        </table>
      </td>
      <td *ngIf="info.authorities == 'ROLE_ADMIN'">
        <button mat-raised-button="" color="warn" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="info.authorities == 'ROLE_ADMIN'">
    <button mat-raised-button="" color="primary" (click)="createUser()" style="margin: 5px">Create student</button>
    <button mat-raised-button="" color="primary" (click)="createProfessor()" style="margin: 5px">Create professor</button>
    <button mat-raised-button="" color="primary" (click)="createAdmin()" style="margin: 5px">Create Admin</button>
  </div>
</div>
