<div class="container">
  <h2>Editing Course</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="title" type="text" id="title" placeholder="Title" [ngClass]="{'is-invalid': submitted && f.title.errors}" name="title" required>
            <label for="title">Title: </label>
            <div *ngIf="submitted && f.title.errors">
              <div *ngIf="f.title.errors.required" style="color: red;">Title should be entered</div>
            </div>
          </div>
          <div class="input-field col s12">
            <input formControlName="password" type="password" id="password" placeholder="Password" [ngClass]="{'is-invalid': submitted && f.password.errors}" name="password" required>
            <label for="password">Password: </label>
            <div *ngIf="submitted && f.password.errors">
              <div *ngIf="f.password.errors.required" style="color: red">Password should be entered</div>
              <div *ngIf="f.password.errors.minlength" style="color: red">Password should be at least 6 characters</div>
            </div>
          </div>
          <div class="input-field col s12">
            <input formControlName="professor" type="text" id="professor" placeholder="Professor" [ngClass]="{'is-invalid': submitted && f.professor.errors}" name="professor" required>
            <label for="professor">Professor: </label>
            <div *ngIf="submitted && f.professor.errors">
              <div *ngIf="f.professor.errors.required" style="color: red;">Professor should be entered</div>
            </div>
          </div>
          <div class="input-field col s12">
            <textarea formControlName="description" id="description" placeholder="Description" class="materialize-textarea validate" name="description"></textarea>
            <label for="description">Description: </label>
          </div>
        </div>
      </div>
    </div>

    <button mat-raised-button="" color="primary" style="margin: 5px">Submit</button>
    <button mat-raised-button="" color="accent" routerLink="/show-course">Cancel</button>
  </form>
</div>
