<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="info.token; else takelogin">
      <a mat-list-item routerLink="/list-user">Users</a>
      <a mat-list-item routerLink="/list-course">All Courses</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>

    <ng-template #takelogin>
      <p style="padding-left: 50px">Please, login</p>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/main" style="color: white"><span>Virtual University</span><mat-icon>home</mat-icon></a>
      <span class="spacer"></span>
      <div *ngIf="info.token; else login">
        <div *ngFor="let user of users">
          <a *ngIf="user.login == info.login" (click)="showUser(user)" routerLink="/show-user"><mat-icon>account_box</mat-icon>  {{info.login}}</a>
          <a *ngIf="user.login == info.login" (click)="logout()" routerLink="/login"><mat-icon>exit_to_app</mat-icon></a>
        </div>
      </div>
      <ng-template #login>
        <div>
          <a routerLink="/login">Login</a>
        </div>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
