<div class="container">
  <h1>User {{currentUser.login}}</h1>
  <mat-list role="list">
    <mat-list-item role="listitem">Login: {{currentUser.login}}</mat-list-item>
    <mat-list-item role="listitem">Name: {{currentUser.name}}</mat-list-item>
    <mat-list-item role="listitem">Surname: {{currentUser.surname}}</mat-list-item>
    <mat-list-item role="listitem">Email: {{currentUser.email}}</mat-list-item>
    <mat-list-item role="listitem">Country: {{currentUser.country}}</mat-list-item>
    <mat-list-item role="listitem">City: {{currentUser.city}}</mat-list-item>
  </mat-list>
  <br/>
  <a class="waves-effect waves-light btn-large" (click)="editUser(currentUser)">Edit</a>

  <div *ngIf="info.authorities == 'ROLE_PROFESSOR'">
    <h1>Professor's courses</h1>
    <div *ngFor="let course of courses">
      <div *ngIf="info.login == course.creator">
        <table>
          <tbody>
            <tr>
              <td (click)="showCourse(course)" routerLink="/show-course">{{course.title}}</td>
              <td>
                <button mat-raised-button="" color="warn" (click)="deleteCourse(course)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button mat-raised-button="" color="primary" routerLink="/create-course">Create Course</button>
  </div>
</div>
